<nav
  class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark"
  aria-label="Hagako navigation bar"
>
  <div class="container">
    <a class="navbar-brand" href="/">Hagako<span>.</span></a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsHagako"
      aria-controls="navbarsHagako"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsHagako">
      <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item <%= page === 'home' ? 'active' : '' %>">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item <%= page === 'list' ? 'active' : '' %>">
          <a class="nav-link" href="/products">Shop</a>
        </li>
        <li class="nav-item <%= page === 'about' ? 'active' : '' %>">
          <a class="nav-link" href="/about">About us</a>
        </li>
        <li class="nav-item <%= page === 'services' ? 'active' : '' %>">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item <%= page === 'blog' ? 'active' : '' %>">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item <%= page === 'contact' ? 'active' : '' %>">
          <a class="nav-link" href="/contact">Contact us</a>
        </li>
      </ul>

      <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
        <li class="nav-item <%= page === 'signup' ? 'active' : '' %>">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        <li class="nav-item <%= page === 'signin' ? 'active' : '' %>">
          <a class="nav-link" href="/signin">Sign in</a>
        </li>
        <li class="nav-item <%= page === 'cart' ? 'active' : '' %>">
          <a class="nav-link" href="/cart">
            <img src="images/cart.svg" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
