<!-- views/products/detail.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="/favicon.png" />
    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Fix đường dẫn CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/tiny-slider.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/product.css" rel="stylesheet" />

    <title><%= product.name %> | HAGAKO</title>
  </head>
  <body>
    <!-- Navigation -->
    <!-- Start Header/Navigation -->
    <%- include('../partials/header', { page: 'list'}) %>
    <!-- End Header/Navigation -->

    <div class="product-detail-section">
      <div class="container-fluid">
        <div class="container">
          <article class="card product-detail-container">
            <div class="row">
              <div class="col-md-6">
                <figure class="product-image-container">
                  <img
                    src="<%= product.imageUrl %>"
                    class="product-image"
                    alt="<%= product.name %>"
                    id="mainProductImage"
                  />
                </figure>
              </div>
              <div class="col-md-6">
                <aside
                  class="product-info"
                  data-product-id="<%= product._id %>"
                >
                  <h2 class="product-name text-left" style="font-weight: bold">
                    <%= product.name %>
                  </h2>
                  <p>
                    Category:
                    <span class="product-categoryName" style="font-weight: bold"
                      ><%= product.categoryId.name %></span
                    >
                  </p>
                  <p>
                    Status:
                    <span class="product-status" style="font-weight: bold"
                      ><%= product.stock > 0 ? 'Available' : 'Out of Stock'
                      %></span
                    >
                  </p>
                  <p>
                    Amount:
                    <span class="product-amount" style="font-weight: bold"
                      ><%= product.stock %></span
                    >
                  </p>
                  <h2
                    class="product-price"
                    style="font-weight: bold; color: red"
                  >
                    <%= new Intl.NumberFormat('en-EN', { style: 'currency',
                    currency: 'USD' }).format(product.price) %>
                  </h2>

                  <div class="quantity-selector">
                    <label for="product-quantity">Choose amount:</label>
                    <div class="quantity-input">
                      <button class="quantity-decrement">-</button>
                      <input
                        type="number"
                        id="product-quantity"
                        class="quantity-value"
                        value="1"
                        min="1"
                        max="<%= product.stock %>"
                      />
                      <button class="quantity-increment">+</button>
                    </div>
                  </div>
                  <button class="add-to-cart add-btn">
                    <i class="fas fa-cart-plus"></i> ADD TO CART
                  </button>
                </aside>
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-md-6">
                <h5 class="titleDetails">DESCRIPTION</h5>
                <p class="description-text"><%= product.description %></p>
              </div>
              <div class="col-md-6">
                <!-- Product Specs -->
                <div class="product-specs mb-4">
                  <h5>Specifications</h5>
                  <table class="specs-table">
                    <tr>
                      <td>Dimensions:</td>
                      <td>
                        <%= product.dimensions.width %>W x <%=
                        product.dimensions.depth %>D x <%=
                        product.dimensions.height %>H cm
                      </td>
                    </tr>
                    <tr>
                      <td>Material:</td>
                      <td><%= product.material %></td>
                    </tr>
                    <tr>
                      <td>Available Colors:</td>
                      <td><%= product.colors.join(', ') %></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

    <!-- Related Products Section -->
    <section class="untree_co-section related-products-slider">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-4 text-black">Related Products</h2>
          </div>
        </div>
        <div class="row" id="relatedProductsSlider">
          <% relatedProducts.forEach(function(relatedProduct) { %>
          <div class="col-12 col-md-4 col-lg-3 item">
            <a class="product-item" href="/shop/<%= relatedProduct._id %>">
              <img
                src="<%= relatedProduct.imageUrl %>"
                class="img-fluid product-thumbnail"
              />
              <h5><%= relatedProduct.name %></h5>
              <strong class="product-price">
                <%= new Intl.NumberFormat('en-EN', { style: 'currency',
                currency: 'USD' }).format(relatedProduct.price) %>
              </strong>
              <span class="icon-cross">
                <img src="/images/cross.svg" class="img-fluid" />
              </span>
            </a>
          </div>
          <% }); %>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <!-- Start Footer Section -->
    <%- include('../partials/footer') %>
    <!-- End Footer Section -->

    <!-- Fix đường dẫn JS -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
  </body>
</html>
